///*------------------------------------*\
//    #APP
//\*------------------------------------*/

$topbar-base-color: #4285f4;

#topbar {
    z-index: 30;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    color: #ffffff;

    .topbar {
        width: 100%;
        padding: 10px;
        position: absolute;
        background: $topbar-base-color;
        @include transition-property(background);
        @include transition-duration(.15s);
        @include display(flex);
        @include flex-direction(row);
        @include align-items(center);
        @include flex-wrap(nowrap);

        .topbar__btn {
            @include flex(0 0 16%);
            font-weight: bold;
        }

        .topbar__title {
            @include flex(1);
            font-size: 20px;
            font-weight: bold;
        }
    }

    &:before {
        box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
        content: "";
        height: 60px;
        left: 0;
        position: fixed;
        width: 104%;
    }

    &:after {
        display: none;
    }
}

#content {
    padding: 60px 0 0 0;
}