///*------------------------------------*\
//    #LAYOUT
//\*------------------------------------*/

// Html
html {
    height: 100%;
}

// Body
body {
    @include display(flex);
    @include flex-direction(column);
    min-height: 100%;
    font-family: $base-font-family;
}

*, *:after, *:before {
    outline: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}