<div class="home p++" pull-to-refresh="vm.refresh(cb)">
    <h3 class="mt+">
        {{ Translation.translate('NEWS') }}
    </h3>

    <div class="mt+">
        <h4>CONTENT 1</h4>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Maecenas tincidunt augue justo, non posuere lectus egestas et.
            Nunc malesuada eu diam vitae ultricies.
            Integer rhoncus massa ut pellentesque commodo. Quisque id tellus est.
            Vestibulum convallis, dolor vel cursus porta, augue ex imperdiet felis, non imperdiet sapien turpis eu
            ligula.
        </p>
    </div>

    <div class="mt+">
        <h4>CONTENT 2</h4>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Maecenas tincidunt augue justo, non posuere lectus egestas et.
            Nunc malesuada eu diam vitae ultricies.
            Integer rhoncus massa ut pellentesque commodo. Quisque id tellus est.
            Vestibulum convallis, dolor vel cursus porta, augue ex imperdiet felis, non imperdiet sapien turpis eu
            ligula.
        </p>
    </div>

    <div class="mt+">
        <h4>CONTENT 3</h4>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Maecenas tincidunt augue justo, non posuere lectus egestas et.
            Nunc malesuada eu diam vitae ultricies.
            Integer rhoncus massa ut pellentesque commodo. Quisque id tellus est.
            Vestibulum convallis, dolor vel cursus porta, augue ex imperdiet felis, non imperdiet sapien turpis eu
            ligula.
        </p>
    </div>

    <div class="mt+">
        <h4>CONTENT 4</h4>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Maecenas tincidunt augue justo, non posuere lectus egestas et.
            Nunc malesuada eu diam vitae ultricies.
            Integer rhoncus massa ut pellentesque commodo. Quisque id tellus est.
            Vestibulum convallis, dolor vel cursus porta, augue ex imperdiet felis, non imperdiet sapien turpis eu
            ligula.
        </p>
    </div>

    <div class="mt+">
        <h4>CONTENT 5</h4>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Maecenas tincidunt augue justo, non posuere lectus egestas et.
            Nunc malesuada eu diam vitae ultricies.
            Integer rhoncus massa ut pellentesque commodo. Quisque id tellus est.
            Vestibulum convallis, dolor vel cursus porta, augue ex imperdiet felis, non imperdiet sapien turpis eu
            ligula.
        </p>
    </div>

    <div class="mt+">
        <h4>CONTENT 6</h4>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Maecenas tincidunt augue justo, non posuere lectus egestas et.
            Nunc malesuada eu diam vitae ultricies.
            Integer rhoncus massa ut pellentesque commodo. Quisque id tellus est.
            Vestibulum convallis, dolor vel cursus porta, augue ex imperdiet felis, non imperdiet sapien turpis eu
            ligula.
        </p>
    </div>

    <div class="mt+">
        <h4>CONTENT 7</h4>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Maecenas tincidunt augue justo, non posuere lectus egestas et.
            Nunc malesuada eu diam vitae ultricies.
            Integer rhoncus massa ut pellentesque commodo. Quisque id tellus est.
            Vestibulum convallis, dolor vel cursus porta, augue ex imperdiet felis, non imperdiet sapien turpis eu
            ligula.
        </p>
    </div>
</div>