<div id="app">
    <div id="topbar">
        <div class="topbar">
            <div class="topbar__btn">
                <button class="btn btn--l btn--white btn--icon bar__picto-menu"
                        ng-click="AppService.toggleSidebar()">
                    <i class="mdi mdi-menu"></i>
                </button>
            </div>
            <div class="topbar__title">
                {{ AppService.getTopBarTitle() }}
            </div>
        </div>
    </div>

    <div id="content">
        <div ui-view="content"></div>
    </div>
</div>